@media (max-width:575px){
    //-Banner
    .banner{
        .swiper-container {
            .banner-cont {
                position: absolute;
                z-index: 2;
                top: 30%;
                left: 10%;
                h2 {
                    font-size: 3em;
                }
                H3 {
                    font-size: 1.4em;
                }
            }
        }
    }
    //-Portfolio
    .portfolio-area {
        .progect-title{
            h2 {
                font-size: 2em;
            }
        }
        .button-group {
            button {
                font-size: 1em;
            }
        }
    }
    .other-say {
        .header {
            h2 {
                font-size: 2em;
            }
        }
    }
}