@media (max-width:760px){
    //-Banner
    .banner{
        overflow: hidden;
        .swiper-container {
            .banner-cont {
                position: absolute;
                z-index: 2;
                top: 30%;
                left: 10%;
                h2 {
                    font-size: 3em;
                    animation: none;
                }
                H3 {
                    font-size: 1em;
                    line-height: 2.5;
                }
            }
        }
    }
    //-about-me 
    .about-me {
        .about-img img {
            display: block;
            margin: auto;
        }
    }
    //-Portfolio
    .portfolio-area {
        .progect-title{
            h2 {
                font-size: 2em;
            }
        }
        .button-group {
            button {
                font-size: .9em;
                font-weight: bold;
            }
        }
    }
    //-other say
    .other-say {
        .header {
            h2 {
                font-size: 1.5em;
            }
        }
        .carousel {
            .client {
                text-align: center;
                .about-client{
                    padding: 0;
                    p {
                        color: black;
                    }
                }
            }
        }
    }
    //-contact
    .contact {
        .subscribe {
            form {
                .textbox input {
                    margin: auto;
                }
                .btn-submit {
                    button {
                        width: 100%;
                    }
                }
            }
        }
    }
    //-footer 
    .footer {
        .copyright {
            p {
                font-size: 1em;
            }
        }
    }
}