@media (max-width:575.98px){
    .banner{
        .swiper-container {
            .banner-cont {
                position: absolute;
                z-index: 2;
                top: 30%;
                left: 10%;
                h2 {
                    font-size: 3em;
                }
                H3 {
                    font-size: 1.4em;
                }
            }
        }
    }
}