<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Effects
        
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap")
        link(rel="stylesheet", href="style/effects.css")
        link(rel="stylesheet", href="style/swiper.min.css")
    body
        //-box-effect
        .box-cont
            .container
                .box
                    .content
                        h2 01
                        h3 Service One
                        p Lorem, Lorem ipsum dolor sit amet. ipsum dolor sit amet consectetur adipisicing elit. Sunt adipisci velit.
                        a(href="") Read More
                .box
                    .content
                        h2 02
                        h3 Service Tow
                        p Lorem, Lorem ipsum dolor sit amet. ipsum dolor sit amet consectetur adipisicing elit. Sunt adipisci velit.
                        a(href="") Read More
                .box
                    .content
                        h2 03
                        h3 Service Three
                        p Lorem, Lorem ipsum dolor sit amet. ipsum dolor sit amet consectetur adipisicing elit. Sunt adipisci velit.
                        a(href="") Read More
                .box
                    .content
                        h2 04
                        h3 Service Four
                        p Lorem, Lorem ipsum dolor sit amet. ipsum dolor sit amet consectetur adipisicing elit. Sunt adipisci velit.
                        a(href="") Read More
        //-swiper
        .swiper-cont
            .swiper
                .swiper-container
                    .swiper-wrapper
                        div(class="swiper-slide" style="background-image:url(img/2.jpg);background-size:cover")
                                h2 Axel
                                span Wep Design
                                p Swipe This Box For More Pic
                        div(class="swiper-slide" style="background-image:url(img/3.png);background-size:cover")
                        div(class="swiper-slide" style="background-image:url(img/4.jpg);background-size:cover")
                        div(class="swiper-slide" style="background-image:url(img/5.jpg);background-size:cover")
            .swiper
                .swiper-container
                    .swiper-wrapper
                        div(class="swiper-slide" style="background-image:url(img/5.jpg);background-size:cover")
                        div(class="swiper-slide" style="background-image:url(img/4.jpg);background-size:cover")
                        div(class="swiper-slide" style="background-image:url(img/3.png);background-size:cover")
                        div(class="swiper-slide" style="background-image:url(img/2.jpg);background-size:cover")
            .swiper
                .swiper-container
                    .swiper-wrapper
                        div(class="swiper-slide" style="background-image:url(img/3.png);background-size:cover")
                        div(class="swiper-slide" style="background-image:url(img/5.jpg);background-size:cover")
                        div(class="swiper-slide" style="background-image:url(img/4.jpg);background-size:cover")
                        div(class="swiper-slide" style="background-image:url(img/2.jpg);background-size:cover")
        //--swiper-2
        .swiper-cont-2
            .swiper-container
                .swiper-wrapper
                    div(class="swiper-slide" style="background-image:url(img/1.png)")
                    div(class="swiper-slide" style="background-image:url(img/2.jpg)")
                    div(class="swiper-slide" style="background-image:url(img/3.png)")
                    div(class="swiper-slide" style="background-image:url(img/4.jpg)")
                    div(class="swiper-slide" style="background-image:url(img/5.jpg)")
                    div(class="swiper-slide" style="background-image:url(img/1.png)")
                    div(class="swiper-slide" style="background-image:url(img/2.jpg)")
                    div(class="swiper-slide" style="background-image:url(img/3.png)")
                    div(class="swiper-slide" style="background-image:url(img/4.jpg)")
                    div(class="swiper-slide" style="background-image:url(img/5.jpg)")
                .swiper-pagination

        //--------Script-------------
        script(src="js/swiper.min.js")
        script(src="js/main.js")