<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Effects
        link(href="style/effects.css", rel="stylesheet")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap")
        
    body
        .container
            .box
                .content
                    h2 01
                    h3 Service One
                    p Lorem, Lorem ipsum dolor sit amet. ipsum dolor sit amet consectetur adipisicing elit. Sunt adipisci velit.
                    a(href="") Read More
            .box
                .content
                    h2 02
                    h3 Service Tow
                    p Lorem, Lorem ipsum dolor sit amet. ipsum dolor sit amet consectetur adipisicing elit. Sunt adipisci velit.
                    a(href="") Read More
            .box
                .content
                    h2 03
                    h3 Service Three
                    p Lorem, Lorem ipsum dolor sit amet. ipsum dolor sit amet consectetur adipisicing elit. Sunt adipisci velit.
                    a(href="") Read More
            .box
                .content
                    h2 04
                    h3 Service Four
                    p Lorem, Lorem ipsum dolor sit amet. ipsum dolor sit amet consectetur adipisicing elit. Sunt adipisci velit.
                    a(href="") Read More