include help/var
<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name="description", content="Axel For Design")
        title Axel
        include help/links
        link(rel="stylesheet", href="style/main.css")
    body
        //-Navbar
        include help/header
        //-Banner
        .banner 
            .swiper-container.swiper1
                div(class="parallax-bg" style="background-image:url(img/10.jpg)" data-swiper-parallax="-23%")
                .banner-cont
                    h2.title Axel For Design
                    span
                    h3.text-uppercase Wep&Graphic Design
                a(href="#about-me" class="seemore") Let's Start
                    i.fas.fa-angle-double-down
                .swiper-wrapper
                    div(class="swiper-slide")
                    div(class="swiper-slide")
                    div(class="swiper-slide")
                    div(class="swiper-slide")
                .swiper-button-next.swiper-button-white
                .swiper-button-prev.swiper-button-white
        //-About Me 
        div(class="about-me" id="about-me")
            .container
                .row
                    div(class="col-8 about-info text-center")
                        h2 About Me
                        p Lorem ipsum  consectetur adipisicing elit. Perferendis molestias possimus, maxime consequuntur corporis quia veritatis dolores amet officia quasi explicabo obcaecati dicta odit omnis, numquam, aut consequatur? Sapiente, qui!
                        h3 Mohamed Ahmed Mahmoud .
                    div(class="col-4 about-img")
                        img(src="img/me.png", alt="")

        //-Scripts-------------
        include help/script
        