include help/var
<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name="description", content="Axel For Design")
        title Axel
        include help/links
        link(rel="stylesheet", href="style/main.css")
    body
        //-Navbar
        include help/header
        //-Banner
        .banner 
            .swiper-container
                div(class="parallax-bg" style="background-image:url(img/04.jpg)" data-swiper-parallax="-23%")
                .swiper-wrapper
                    div(class="swiper-slide")
                        div(class="title" data-swiper-parallax="-300") Axel For Design
                        div(class="subtitle" data-swiper-parallax="-200") Wep & Graphic Design 
                        div(class="text" data-swiper-parallax="-100")
                            p Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    div(class="swiper-slide")
                        div(class="title" data-swiper-parallax="-300" data-swiper-parallax-opacity="0") All You Need
                        div(class="subtitle" data-swiper-parallax="-200") Just Call me 
                        div(class="text" data-swiper-parallax="-100")
                            p Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    div(class="swiper-slide")
                        div(class="title" data-swiper-parallax="-300") Take Alook In my Page
                        div(class="subtitle" data-swiper-parallax="-200") I Hope You Like it
                        div(class="text" data-swiper-parallax="-100")
                            p Lorem ipsum dolor sit amet consectetur adipisicing elit.
                .swiper-button-next.swiper-button-white
                .swiper-button-prev.swiper-button-white



        //-Scripts-------------
        include help/script
        