include help/var
<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name="description", content="Axel For Design")
        title Axel
        include help/links
        link(rel="stylesheet", href="style/main.css")
    body
        //-Navbar
        include help/header
        //-Banner
        .banner 
            .swiper-container
                .swiper-wrapper
                    div(class="swiper-slide" style="background-image:url(img/banner1.jpg);")
                        h2 Axel For Design 
                        h4 Wep & Graphic Design
                    div(class="swiper-slide" style="background-image:url(img/banner2.jpg);")
                    div(class="swiper-slide" style="background-image:url(img/banner3.jpg);")
                    div(class="swiper-slide" style="background-image:url(img/banner4.jpg);")
                .swiper-pagination
                .swiper-button-next
                .swiper-button-prev



        //-Scripts-------------
        include help/script
        