include help/var
<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name="description", content="Axel For Design")
        title Axel
        include help/links
        link(rel="stylesheet", href="style/main.css")
    body
        //-Navbar
        include help/header
        //-Banner
        .banner 
            .swiper-container.swiper1
                div(class="parallax-bg" style="background-image:url(img/10.jpg)" data-swiper-parallax="-23%")
                .banner-cont
                    h2.title Axel For Design
                    span
                    h3.text-uppercase Wep&Graphic Design
                    a(href="") #[i.fab.fa-facebook-f.fa-2x]
                    a(href="") #[i.fab.fa-instagram.fa-2x]
                    a(href="") #[i.fab.fa-github.fa-2x]
                    a(href="") #[i.fab.fa-codepen.fa-2x]
                a(href="#about-me" class="seemore") Let's Start
                    i.fas.fa-angle-double-down
                .swiper-wrapper
                    div(class="swiper-slide")
                    div(class="swiper-slide")
                    div(class="swiper-slide")
                    div(class="swiper-slide")
                .swiper-button-next.swiper-button-white
                .swiper-button-prev.swiper-button-white
        //-About Me 
        div(class="about-me" id="about-me")
            .container
                .row
                    div(class="col-8 about-info text-center")
                        h2 About Me
                        p.text-uppercase Im a full stack Wep Design im study Mangement Information System 'MIS' At Aboukir Hight instituse 
                        h3 Name: Mohamed Ahmed Mahmoud .
                        h3 Old: 21 Year
                        h3 From: Alexaindria
                        a(href="" class="cv") My CV
                        a(href="" class="more-info") More Info
                    div(class="col-4 about-img")
                        img(src="img/me.png", alt="")

        //-Scripts-------------
        include help/script
        