//-Navbar
.nav-bar
    nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.fixed-top
        .container
            a(href="index.html").navbar-brand Axel#[span 4]Design 
            button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation")
                span.navbar-toggler-icon
            div(class="collapse navbar-collapse" id="navbarNavAltMarkup")
                .navbar-nav.ml-auto.font-weight-bold
                    a(href="index.html" class="nav-item nav-link active") Home #[i.fa.fa-home]
                        span.sr-only (current)
                    a(href="" class="nav-item nav-link") About #[i.far.fa-address-card]
                    a(href="" class="nav-item nav-link") Contact #[i.fa.fa-phone-square-alt]
                    a(href="" class="nav-item nav-link") Portfolio #[i.fas.fa-wrench]
                    a(href="effects.html" class="nav-item nav-link") Effects #[i.fa.fa-pen]
