//-fonts
link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Dancing+Script:400,500,600,700&display=swap&subset=latin-ext,vietnamese")
link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Lemon&display=swap")
//-bootstrap
link(rel="stylesheet", href="style/bootstrap.min.css")
//-swiper
link(rel="stylesheet", href="style/swiper.min.css")
//-popup
link(rel="stylesheet", href="style/magnific-popup.css")
//-fontawesome
link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css")
link(rel="stylesheet", href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css")
//-page icon
link(rel="icon", href="img/page_icon.png")