//-Jquery
script(src="js/jquery-3.4.1.min.js")
//-Bootstrap
script(src="js/bootstrap.min.js")
//-Swiper For Banner
script(src="js/swiper.min.js")
//-Nice Scrol page Scroling
script(src="js/jquery.nicescroll.min.js")
//-isotope for portfolio
script(src="js/isotope.js")
//--Popup img
script(src="js/jquery.magnific-popup.min.js")
//-Carousel slide
script(src="js/owl.carousel.min.js")
//--Main Js File
script(src="js/main.js")
