@import "scss/header";
@import "scss/fotter";

body {
    background-color: black;
    font-family:'Open Sans';
    color: wheat;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}
span {
    color: red;
}