html {
    position: relative;
}
body {
    background-color: black;
    font-family:'Open Sans';
    color: wheat;
    height: 5000px;
}
//--NavBar-----------
@import "scss/header";

.banner {
    .swiper-container {
        width: 100%;
        height: 100%;
        background: #000;
        height: 100vh;
        .parallax-bg {
            position: absolute;
            left: 0;
            top: 0;
            width: 130%;
            height: 100%;
            background-size: cover;
            background-position: center;
        }
        .banner-cont {
            position: absolute;
            z-index: 2;
            top: 40%;
            left: 25%;
            h2 {
                font-size: 4em;
                margin-bottom: 3px;
                font-weight: bold;
                animation: text-flicker-out-glow 2.5s linear infinite both;
            }
            span {
                position: absolute;
                content: '';
                height: 3px;
                width: 80%;
                background-color: red;
            }
            h3 {
                letter-spacing: 5px;
                margin-top: 5px;
                font-size: 2em;
            }
        }
        .seemore {
            position: absolute;
            text-decoration: none;
            color: rgba(255, 255, 255, 0.6);
            font-size: 1.5em;
            font-weight: bold;
            bottom: 40px;
            left: 45%;
            z-index: 2;
            cursor: pointer;
            animation: bounce-top 2s ease-in-out infinite both;
            i {
                position: absolute;
                bottom: -20px;
                left: 50%;;
            }
        }
        .swiper-wrapper {
            
            .swiper-slide {
                background-color: rgba(0, 0, 0, 0.5);
                color:#fff;
                box-sizing: border-box;
                padding: 30vh 20vw ;
            }
        }
    }
}


@import "scss/fotter";
@import "scss/animation"