html {
    position: relative;
}
body {
    background-color: black;
    font-family:'Open Sans';
    color: wheat;
    height: 5000px;
}
//--NavBar-----------
@import "scss/header";

.banner {
    .swiper-container {
        width: 100%;
        height: 100%;
        background: #000;
        height: 100vh;
        .parallax-bg {
            position: absolute;
            left: 0;
            top: 0;
            width: 130%;
            height: 100%;
            background-size: cover;
            background-position: center;
        }
        .swiper-wrapper {
            
            .swiper-slide {
                background-color: rgba(0, 0, 0, 0.5);
                color:#fff;
                box-sizing: border-box;
                padding: 30vh 20vw ;
                .title {
                    font-size: 4em;
                    font-weight: bold;
                    color: red;
                    &::before {
                        content: '';
                        bottom: 0;
                        left: 0;
                        background-color: red;
                        width: 50%;
                        height: 3px;
                        position: absolute;
                        margin-top: 20px;
                    }
                }
                .subtitle {
                    font-size: 2em;
                    font-weight: 400;
                    margin: 10px 0;
                }
                .text {
                    font-size: 1em;
                    line-height: 1.3;
                    
                    
                }
            }
        }
    }
}


@import "scss/fotter";